.exams-section{
    
}
.e-top{
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: flex-end;
}
.e-left>p{
    color: orange;
}
.e-left>p::before{
    content: "";
    border: 2px solid orange;
    margin-right: 5px;
}
.e-left>h1{
    font-size: 36px;
    padding-left: 20px;
    color: black;
}
.e-right{
    display: flex;
    gap: 15px;
}
.e-right>button:last-child{
    /* background-color:#403830; */
    background-color: #321A18;
}
.e-right>button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    height: 35px;
    width: 35px;
    color: white;
    font-size: 22px;
    border-radius: 50%;
    text-shadow: 0 0 5px black;
    box-shadow: 0px 3px 15px -3px gray;
}
.e-bottom{
    padding: 20px 0;
    margin-left: 200px;
    margin-right: 80px;
    display: flex;
    gap: 80px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.e-bottom::-webkit-scrollbar{
    display: none;
}
.e-card{
    background-color:white;
    min-width: 300px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px -5px gray;
    scroll-behavior: smooth;
    scroll-snap-align: start;
}

.e-card>div{
    padding: 15px;
}
.e-card h2{
    font-weight: bold;
    font-size: 18px;
}